
@{
    ViewBag.Title = "PaymentConfirm";
}
<div style="background-color:palegreen">
    <h2>@ViewBag.Message</h2>
    <a style="padding-left: 45%" href="~/Cart/SavePaymentVnpay"> <button style="background-color: #00ff00 !important;" class="btn btn-outline-black btn-sm btn-block">Ok</button></a>

</div>

