@{
    ViewBag.Title = "Home Page";
}


@model List<MyPhamWeb.Context.Product>

<div style="background-color:palegreen" class="untree_co-section product-section before-footer-section">
    @if (Session["role"] != null)
    {
        if (Session["role"].ToString().Equals("1"))
        {
            <h2  style="background-color:#00ff00; text-align:center;">This is page for distributor</h2>
        }
        else
        {

        }
    }
    else
    {

    }


    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4 col-lg-3 mb-5">

                    <a class="product-item" href="~/Home/Detail?productID=@item.id">

                        <img src="~/Content/images/@item.img" class="img-fluid product-thumbnail">
                        <h3 class="product-title">@item.name</h3>
                        @if (Session["role"] != null)
                        {
                            if (Session["role"].ToString().Equals("1"))
                            {
                                <strong class="product-price">@item.pricefordistributors$</strong>
                            }
                            else
                            {
                                <strong class="product-price">@item.price$</strong>
                            }
                        }
                        else
                        {
                            <strong class="product-price">@item.price$</strong>
                        }




                    </a>
                    <div style="padding-left:110px;">
                        <a href="/Cart/AddItem?productID=@item.id&quantity=1&@Session["UserName"]">

                            <span class="icon-cross">
                                <button style="background-color: #00ff00 !important; border-radius: 15px; "><img src="~/Content/images/cross.svg" class="img-fluid"> <b style="color:white">Add cart</b></button>
                            </span>
                        </a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>



